.butoane{
    padding: 15px;
    border-radius: 16px;
}

.patrat-generat{
    width: 150px;
    height: 150px;
    background-color: #f4f4f4;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
